<%- include ("partials/header.ejs") %>
<link rel="stylesheet" href="news.css">
<h1>Top Headlines:</h1>
    <% data["articles"].forEach(function(news){ %>
        <div id="main" class="container"> 
            <img src="<%= news["urlToImage"] %>">
            <div id="cont" class="container">
            <h2><%= news["title"] %></h2>
            <br>
            <h4><strong id="str">Content:</strong> <%= news["description"] %></h4>
            <h5><strong><em>More On:</em></strong> <a href="<%= news["url"] %>"><%= news["url"] %></a></h5>
            </div>
        </div>
    <% }); %>

<%- include ("partials/footer.ejs") %> 