<%- include ("partials/header.ejs") %>
<link rel="stylesheet" href="weather.css">

<% data["data"].forEach(function(result){ %>
    <h1><strong>Weather condition:</strong> <%= result["weather"].description %></h1>
    <span class="vertical-line"></span>
    <h3>City: <%= result["city_name"] %></h3>
    <br>
    <br>
    <p id="temp"><strong>Temperature(C):</strong> <%= result["temp"] %> ; <em>at</em> <%= result["ob_time"] %></p>
    <p id="ll"><strong>Latitude:</strong> <%= result["lat"] %></p>
    <p id="ll"><strong>Longitude:</strong> <%= result["lon"] %></p>
    <% var x = "nothing" %>
    <% if(result["pod"] == "n"){ %>
        <% x = "night" %> 
    <% }; %>
    <% if(result["pod"] == "d"){ %>
        <% x = "day" %> 
    <% }; %>
    <p><strong>Part of the day:</strong> <%= x %></p>
    <p><strong>Country:</strong> <%= result["country_code"] %></p>
    <p><strong>Time Zone:</strong> <%= result["timezone"] %></p>  
<% }); %>

<%- include ("partials/footer.ejs") %>